canvas {
    position: fixed;
    top: 0;
    left: 0;
}

main {
    /** Due to positioning of canvas, we need to absolutely position the main content to paint over */
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    color:white;

    /**
     * As main lies above the canvas, by default the controls of the canvas fail
     * because the main layer is blocking it. Setting pointer-events to none at
     * this level triggers a fallout to the next layer.
     */
    pointer-events: none;
}